#answer1{
  display: none;
}
#answer2{
  display: none;
}
#answer3{
  display: none;
}

/* index page styles */

/* quiz page styles */

/* html page styles */

/* javascript page styles */

/* c# page styles */

