#answer1{
  display: none;
}
#answer2{
  display: none;
}
#answer3{
  display: none;
}

/* index page styles = pg1 */
#pg1title{
  text-align: center;
}
#pg1quizbutton{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#pg1text{
  text-align: center;
  padding: 20px;
}
#pg1texthead{
  text-align: center;
  padding: 10px;
}
#pg1lowtext{
  text-align: center;
  padding: 20px;
}
/* quiz page styles = pg2 */
#pg2title{
  text-align: center;
}
/* html page styles = pg3 */

#pg3title{
  text-align: center;
}
#pg3homebutton{
  text-align: center;
}
/* javascript page styles = pg4 */
#pg4title{
  text-align: center;
}
/* c# page styles = pg5 */
#pg5title{
  text-align: center;
}
/* common tags */

img{
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px;
}

body{
  background-color: rgb(211, 241, 199);
}
